.card-new {
    box-shadow:none;
    margin-top:30% !important;
}
.card-header {
    background: none;
}
.card-header > .text-center > b {
    font-size: 30px;
}
.card-para > .text-center {
    font-size: large;
    font-weight: 500;
    color: #006000eb;
}
.form-group label[for="otp-input"] {
    font-size: 18px;
    font-weight: 500;
}
.form-group input[name="contact"] {
    border: none;
    border-bottom: 2px solid #dcdcdc;
    border-radius: 0px !important;
    font-size: 16px;
    padding: 0px 18px 12px 0px !important;
}

.green {
    color: green !important;
}
.custom-padding {
    padding: 1rem 0rem 0rem 1rem !important;
}
.otp-alignment {
    position: relative !important;
    right: 5% !important;
}
.form-group > label {
    color: #000;
    font-size: 14px;
}
.form-group > input {
    font-size: 14px;
}
.card-align {
    padding: 0;
}
b.desk-b {
    top: 4px;
    position: relative;
}
.mt-2rem {
    margin-top: 2rem;
}
.ff-file {
    position: initial;
}
.modal-content.my-model {
    position: relative;
    margin-top: 40% !important;
}
.my-header {
    background: #1D6AA0;
    color: #FFF;
}
.fs-fw {
    font-size: 14px;
    font-weight: 600;
}
.my-card {
    position: relative;
    font-size: 14px;
}
.form-group > label {
    color: #000;
    font-size: 14px;
}
.form-group > input {
    font-size: 14px;
}
.ck-img {
    top: 20%;
    position: sticky;
}

.success {
    color: green;
}
        
.error {
    color: red;
}

.card.custom-card {
    margin: 10px 10px 10px 10px;
}
.no-ui {
    color: #fff !important;
    text-decoration: none !important;
}
.nav-item-new {
    background-color: #f7f7f7;
}
.search-row {
    min-height: 140px;
    top: -75px;
    z-index: 9999;
    position: relative;
}
.top-24 {
    top: 24%;
}
.f-14 {
    font-size: 14px;;
}
td {
    word-break: break-all;
}
select {
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
}
select {
    background: transparent;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 5px;
    border: 1px solid #dfdfdf;
    border-radius: 2px;
    margin-right: 2rem;
    padding: 1rem;
    padding-right: 2rem;
  }
@media screen and (min-width: 768px) { 
    /* Desktop CSS */
    .desk-login {
        left: 22%;
        display: flex !important;
        position: absolute;
        margin-top: 5%;
    }
    .pp-logo-icon {
        margin-top: 20%;
        position: relative;
    }
    .w-395 {
        width: 395px;
        margin-top: 25% !important;
    }
    .desk-search {
        position: relative;
        width: 50%;
    }
    .modal-content.my-model {
        position: relative;
        margin-top: 25% !important;
    }
    .nav-custom {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
    }
    .content.ck {
        position: relative;
        margin-top: -10%;
    }
    .ck2 {
        margin-top: -5% !important;
    }
    .container-custom {    
        padding-top: calc(17px + (100vw - 700px) * (15 - 30) / (700 -  1000));
    }
    .container-custom-none {
        padding-top: 0 !important;
    }
    .mtop-5 {
        margin-top: 5% !important;
    }
    .cr-text {
        text-align:left;
    }
}


@media screen and (max-width: 768px) {
    .desk-login {
        display: block;
    }
    .pp-logo-icon {
        display: none;
    }
    .modal-content.my-model {
        position: relative;
        margin-top: 40% !important;
    }
    .container-custom {
        /* width: 100%; */
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-top: 10px !important;
        margin-left: auto;
        list-style: none;
        display: inline-flex;
    }
    .content.ck {
        position: relative;
        margin-top: -20%;
    }
    .cr-text {
        text-align:center;
    }
}
      
